<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Plushiness 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131117

-->
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>The Big Four's Movie Recommendation</title>
	<meta name="a content/matrix-factorization/user based recommender for movies using user data and movie ratings"
		content="Recommendation">
	<meta name="author" content="Zi Yang, Opa Towobola, Evgeny Grobov, Aydin Hasanli ">
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
	<link href="../static/css/default.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}">
	</script>
	<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>

<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<span class="icon icon-group"></span>
				<h1><a href="#">The Big Four Recommends Movies</a></h1>
				<span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></span>
			</div>
			<div id="triangle-up"></div>
		</div>
	</div>
	<div id="menu-wrapper">
		<div id="menu">
			<ul>
				<!-- <li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
				// <li><a href="#" accesskey="2" title="">Our Clients</a></li>
				// <li><a href="#" accesskey="3" title="">About Us</a></li>
				// <li><a href="#" accesskey="4" title="">Careers</a></li>
				// <li><a href="#" accesskey="5" title="">Contact Us</a></li> -->
			</ul>
		</div>
	</div>
	<div id="wrapper">
		<div id="featured-wrapper">

			<div class="container">

				<div class="ebox2">
					<div class="hexagon"><span class="icon icon-bullhorn"></span></div>
					<div class="title">
						<h2>Movie Recommender</h2>
						<!-- <span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> -->
					</div>
					<p>This nifty app will recommend movies for you!</p>
					<p>Please enter the user id, movie id and number of movies to recommend!</p>
					<p>For example, if user 1 watched movie 10, this app will recommend additional movies for user 1</p>
					

					<div class="row">
						<div class="form-inline">

							<div class="form-group">
								<p class="form-control-static">user id:</p>
							</div>
							<div class="form-group">
								<input class="form-control" id="user_id"></input>
							</div>

							<div class="form-group">
								<p class="form-control-static">movie id:</p>
							</div>
							<div class="form-group">
								<input class="form-control" id="movie_id"></input>
							</div>

							<div class="form-group">
								<p class="form-control-static">number of movies to recommend:</p>
							</div>
							<div class="form-group">
								<input class="form-control" id="number_movies"></input>
							</div>

							<div class="form-group">
								<p></p>
								<button id="recommend" class="button">Recommend Movies!</button>
								<button id="clear" class="button">Clear!</button>
							</div>

						</div>

						<p></p>
						<h3> The recommended movie(s) is(are): </h3><br />
						<table id="movie_table" class="center" ></table>

					</div>
					<div class="ebox2">
						<div class="title">

						</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div id="stamp" class="container">
		<div class="hexagon"><span class="icon icon-wrench"></span></div>
	</div>
	<div id="copyright" class="container">
		<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a
				href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
	</div>
	<script>
		let get_input = function () {
		  let user_id = $("input#user_id").val()
		  let movie_id = $("input#movie_id").val()
		  let number_movies = $("input#number_movies").val()
		  return {
			'user_id': parseInt(user_id),
			'movie_id': parseInt(movie_id),
			'number_movies': parseInt(number_movies)
		  }
		};
	
		let send_query_json = function (query) {
		  $.ajax({
			url: '/recommend',
			contentType: "application/json; charset=utf-8",
			type: 'POST',
			success: function (data) {
			  display_recommendations(data);
			},
			data: JSON.stringify(query)
		  });
		};
	
		function createImageLink(imdbId) {
		  // this function takes the imdbId from results, adds 'tt' infront and returns the image link
	
		}
		// https://stackoverflow.com/a/15164958/3836903
		function createMovieTable(tableData) {
		  let table = document.getElementById('movie_table');
		  let count = table.rows.length;
		  if (count > 1) {
			// no duplicate rendering
			return
		  }
		  let row = {};
		  let cell = {};
		  // create table header
		  row = table.insertRow(-1);
		  row.insertCell().textContent = "IMDB ID";
		  row.insertCell().textContent = "---";
		  row.insertCell().textContent = "NAME  ";
		  row.insertCell().textContent = "MOVIE POSTER  ";
		  // generate table content
		  tableData.forEach(function (rowData) {
			row = table.insertRow(-1);
			rowData.slice(0, 2).forEach(function (cellData) {
			  cell = row.insertCell();
			  cell.textContent = cellData;
			  row.insertCell().textContent = "    "; // make some room
	
			}
			);
			lastCell = row.cells[row.cells.length - 1];
			let oImg = document.createElement("img"); // create an image element
			oImg.setAttribute('src', rowData[2]); // set the source url to img
			oImg.setAttribute('alt', 'na');
			lastCell.appendChild(oImg); // append the image element to a DOM element, in your case the row cell element.
		  });
		}
	
		let display_recommendations = function (recommendation) {
		  createMovieTable(recommendation.result);
	
		};
	
	
		$(document).ready(function () {
		  $("button#recommend").click(function () {
			let query = get_input();
			send_query_json(query);
		  });
	
		  $("button#clear").click(function () {
			$("#movie_table tr").remove();
			$("input#user_id").val('');
			$("input#movie_id").val('');
			$("input#number_movies").val('');
		  })
		})
	
	  </script>
</body>

</html>